body { 
    font-family: Arial;
     background: #f4f4f4; 
     display: flex; 
     justify-content: center; 
     padding-top: 50px;
     }

.card { 
    background: white; 
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
 }

input, select { 
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

button { 
    width: 100%;
    background: #28959E;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer; 
    border-radius: 4px;
 }
